# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Temporary files
tmp/
temp/

# Build output
dist/
build/

# IDE-specific files
.vscode/
.idea/
*.swp

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
