/* src/components/Home/Home.css */

.home-container {
  padding: 20px;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contact-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-info h2,
.contact-info p {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-actions button:hover {
  background-color: #e0e0e0;
}

.create-button {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #0056b3;
}

.search-filter-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 20px;
}

.search-input,
.filter-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 48%;
  margin-right: 15px; /* Increased margin for more spacing */
}

.filter-select {
  margin-right: 0; /* Remove margin from the rightmost item */
}
